*{
  font-family: 'Lacquer', sans-serif;
  font-size: 20px;
}

.mainDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: aqua;
}


.quizDiv {
  border: 1px solid blue;
  width: 70%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.question {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answers {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
}


.popup {
  display: none;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}